.logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backdrop {
  width: 100%;
  max-width: 320px;
}

.companyLogo {
  display: none;
}

.textLogo {
  font-weight: 400;
  font-size: 26px;
  color: #fbfbfb;
}

.textWrapper {
  margin: 0 auto;
  width: 214px;
  margin-bottom: 40px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--full-white);
}

@media screen and (min-width: 768px) {
  .logoutContainer {
    background-image: url("../../images/gradients/Ellipse_19.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .logoutContainer {
      background-image: url("../../images/gradients/Ellipse_19-2x.png");
    }
  }

  .companyLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }

  .textWrapper {
    margin-bottom: 52px;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}
