.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;
  border: none;

  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 700;
  backdrop-filter: blur(100px);
}

.logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backdrop {
  width: 100%;
  max-width: 320px;
}

.companyLogo {
  display: none;
}

.textLogo {
  font-weight: 400;
  font-size: 26px;
  color: #fbfbfb;
}

.textWrapper {
  margin: 0 auto;
  width: 214px;
  margin-bottom: 40px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--full-white);
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 533px;
    height: 447px;
    border-radius: 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
  }

  .logoutContainer {
    background-image: url("../../images/gradients/Ellipse_19.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .logoutContainer {
      background-image: url("../../images/gradients/Ellipse_19-2x.png");
    }
  }

  .companyLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }

  .textWrapper {
    margin-bottom: 52px;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }

  .modalContent {
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
  }
}
