.dashboard-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #1e0036, #12002b);
  color: white;
}

.main-—Åontent {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
}

.content-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .content-grid {
    grid-template-columns: 2fr 1fr;
  }
}
