.dashboardPage {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.navigation {
  width: 320px;
}

.balance,
.currency,
.divider {
  display: none;
}

@media (min-width: 768px) {
  .dashboardPage {
    width: 768px;
  }

  .dashboard {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  .dashboardInf {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 32px;
    margin-bottom: 20px;
  }
  .currency {
    display: block;
  }
  .navigation {
    width: 336px;
  }

  .balance {
    display: block;
    width: 336px;
  }
}

@media (min-width: 1280px) {
  .dashboardPage {
    width: 1280px;
  }

  .dashboardInf {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
    gap: 0;
  }
  .dashboard {
    display: flex;
    padding: 0;
  }

  .dashboardData {
    flex-direction: column;
    gap: 33px;
    margin-bottom: 0;
  }

  .navigation {
    width: 480px;
  }

  .balance {
    width: 480px;
  }

  .line {
    display: block;
    width: 1px;
    background-color: var(--light-gray);
    box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.25);

    height: 105vh;
  }
}
