.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;
  border: none;

  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 700;
  backdrop-filter: blur(100px);
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
}

.closeButton {
  display: none;
}

@media (min-width: 768px) {
  .modalContainer {
    width: 540px;
    height: auto;
    overflow-y: auto;
    border-radius: 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
  }

  .modalContent {
    padding: 40px 0;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
    width: 100%;

    background-image: url("../../images/gradients/Ellipse_19.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contentContainer {
    position: relative;
  }

  .closeButton {
    position: absolute;
    display: block;
    top: -24px;
    right: -58px;

    transition: transform var(--animation);
  }

  .closeButton:hover {
    transform: rotate(90deg);
  }
}
