.registration-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-logo {
  margin: 0 auto;
  margin-bottom: 52px;
  text-align: center;
}

.registration-page {
  background-image: url("../../images/gradients/Gradient_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  width: 25px;
  height: 25px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .registration-page {
    background-image: url("../../images/gradients/Gradient_2-2x.png");
  }
}

@media (min-width: 768px) {
  .registration-page {
    background-image: url("../../images/gradients/Gradient_1.png");
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration-page {
      background-image: url("../../images/gradients/Gradient_1-2x.png");
    }
  }
}

@media (min-width: 1280px) {
  .registration-page {
    background-image: url("../../images/gradients/Gradient_6.png");
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration-page {
      background-image: url("../../images/gradients/Gradient_6-2x.png");
    }
  }
}
