.registration-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.company-logo {
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.registration-page {
  background-image: url("../../images/gradients/Gradient_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  width: 25px;
  height: 25px;
}

.dollar-tablet {
  display: none;
  overflow: hidden;
  z-index: -1000;
}

.dollar-desc-hidden {
  display: none;
  overflow: hidden;
  z-index: -1000;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .registration-page {
    background-image: url("../../images/gradients/Gradient_2-2x.png");
  }
}

@media (min-width: 768px) {
  .registration-page {
    position: relative;
    background-image: url("../../images/bg_image/gr_dollars_4.png"),
      url("../../images/gradients/Gradient_1.png");
    background-size: cover, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
  }

  .registration-page-container {
    display: flex;
    align-items: center;
  }

  .backdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 533px;
    height: 624px;
    border-radius: 8px;

    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .dollar-tablet {
    position: absolute;
    display: block;
    top: -18px;
    right: -234px;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration-page {
      background-image: url("../../images/bg_image/gr_dollars_4-2x.png"),
        url("../../images/gradients/Gradient_1-2x.png");
    }
  }
}

@media (min-width: 1280px) {
  .registration-page {
    background-image: url("../../images/bg_image/gr_dollars_4.png"),
      url("../../images/gradients/Gradient_6.png");
    background-size: cover, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
  }

  .dollar-desc-hidden {
    position: absolute;
    display: block;
  }

  .dollar-desk-1 {
    top: 0;
    left: 0;
  }

  .dollar-desk-2 {
    top: 0;
    right: 0;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .registration-page {
      background-image: url("../../images/bg_image/gr_dollars_4-2x.png"),
        url("../../images/gradients/Gradient_6-2x.png");
    }
  }
}
