.wrapper {
  position: relative;
  background: var(--violet-gradient);
  background-color: var(--dark-violet);
  max-width: 320px;
  padding: 12px 20px;
  color: var(--light-gray);
  @media (min-width: 768px) {
    padding: 16px 32px;
  }
  @media (min-width: 1280px) {
    padding: 16px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    gap: 12px;
  }
}
.companyLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  @media (min-width: 768px) {
    font-size: 13px;
  }
}
.logo {
  width: 16px;
  height: 13px;
  @media (min-width: 768px) {
    width: 23.49px;
    height: 22.47px;
  }
}
.loginWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  @media (min-width: 768px) {
    gap: 12px;
  }
}

.linkName:hover {
  cursor: pointer;
  color: var(--yellow);
  transform: scale(1.03);
}
.nameWrapper {
  display: flex;
  align-items: center;
}
.name {
  font-size: 18px;
  font-weight: 400;
}
.customHr {
  display: none;
  @media (min-width: 768px) {
    display: block;
    height: 30px;
    border: 1px solid var(--light-gray);
  }
}
.linkExit:hover {
  cursor: pointer;
  color: var(--yellow);
  transform: scale(1.03);
}
.exitIcon:hover {
  /* color: var(--yellow); */
  fill: green;
}
.exitWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.exitText {
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-size: 18px;
    font-weight: 400;
  }
}
