.login-page {
  background-image: url("../../images/gradients/Gradient_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.company-logo {
  margin: 0 auto;
  margin-bottom: 52px;
  text-align: center;
}

.logo {
  width: 25px;
  height: 25px;
}

.first-gold {
  display: none;
  overflow: hidden;
  z-index: -1000;
}

.second-gold {
  display: none;
  overflow: hidden;
  z-index: -1000;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .login-page {
    background-image: url("../../images/gradients/Gradient_2-2x.png");
  }
}

@media (min-width: 768px) {
  .login-page {
    position: relative;
    background-image: url("../../images/gradients/Gradient_4.png");
  }

  .login-page-container {
    display: flex;
    align-items: center;
  }

  .backdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 533px;
    height: 570px;
    border-radius: 8px;

    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
  }

  .first-gold {
    position: absolute;
    display: block;
    bottom: -87px;
    right: -232px;
  }

  .second-gold {
    position: absolute;
    display: block;
    left: -58px;
    top: -204px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .login-page {
      background-image: url("../../images/gradients/Gradient_4-2x.png");
    }
  }
}

@media (min-width: 1280px) {
  .login-page {
    background-image: url("../../images/gradients/Gradient_7.png");
  }

  .first-gold {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
  }

  .second-gold {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .login-page {
      background-image: url("../../images/gradients/Gradient_7-2x.png");
    }
  }
}
