.btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: var(--add-btn-gradient);
  color: var(--white);
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform var(--animation);
}

.btn:hover,
.btn:focus {
  transform: scale(1.1) rotate(180deg);
}

@media screen and (max-width: 768px) {
  .btn {
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    padding-right: 8px;
  }
}
