.notFoundContainer {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background-image: url("../images/gradients/Gradient_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.header {
  font-size: 32px;
  margin-bottom: 20px;
}

.errorType {
  font-size: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .notFoundContainer {
    background-image: url("../images/gradients/Gradient_2-2x.png");
  }
}

@media (min-width: 768px) {
  .notFoundContainer {
    background-image: url("../images/gradients/Gradient_5.png");
  }

  .header {
    font-size: 62px;
    margin-bottom: 20px;
  }

  .errorType {
    font-size: 62px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .notFoundContainer {
    background-image: url("../images/gradients/Gradient_5-2x.png");
  }
}

@media (min-width: 1280px) {
  .notFoundContainer {
    background-image: url("../images/gradients/Gradient_3.png");
  }
}

@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .notFoundContainer {
    background-image: url("../images/gradients/Gradient_3-2x.png");
  }
}
